EXPO_PUBLIC_SUPABASE_URL=https://wwmvzmgsbcnwztdussid.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9eCW0RHoFOtjR4uvxvn2SQ_c1gHDflI
EXPO_PUBLIC_GROQ_API_KEY=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
